1]Functions

In [1]:
#A function is a block of reusable code that performs a specific task.
#Instead of writing the same code again and again, we wrap it inside a function and just call it when needed.

In [6]:
#function 
def my_function():
  print("Rohit Patil")
my_function()

Rohit Patil

In [7]:
#function with parametr and argument
def my_function(a): # here a is parameter
  print("Rohit",a)
my_function('Patil') # here Patil is an Argument

Rohit Patil

In [5]:
#function with parametrs and return values
def add(a,b):  #defining a function
    c=a+b
    return c   #returning a value
a=add(10,20)   #passing an argument to function
print(a)       #print the value

30

In [15]:
#default arguments
def name(lname="Patil"):
    print(f"Hello, {lname}!")

name()         # uses default
name("Rohit")  # overrides default

Hello, Patil!
Hello, Rohit!

In [18]:
#small calcukation using function
def cal(a,b,operation):
    if operation == 'add':
        print(f'Addition of {a} and  {b} is',a+b)
    elif operation == 'sub':
        print(f'Substraction of {a} and  {b} is',a+b)
    elif operation == 'mul':
        print(f'Multiplication  of {a} and  {b} is',a*b)
    elif operation == 'div':
        print(f'Division  of {a} and  {b} is',a/b)
cal(10,20,'add')
cal(4.5,2,'sub')
cal(7,6,'mul')
cal(100,20,'div')

Addition of 10 and  20 is 30
Substraction of 4.5 and  2 is 6.5
Multiplication  of 7 and  6 is 42
Division  of 100 and  20 is 5.0

In [19]:
#keyword argument
def name(name,age):
    print('Name :',name)
    print('Age :',age)
name('Rohit',21)
name(age=21,name='Rohit')

Name : Rohit
Age : 21
Name : Rohit
Age : 21

In [23]:
#arbitary positional arguments
def add_numbers(*args):
    total = 0
    for num in args:
        total += num
    return total

print(add_numbers(2, 3))          # 5
print(add_numbers(1, 2, 3, 4, 5)) # 15

5
15

In [28]:
def profile(**kwargs):
    print("Profile Information:")
    for key, value in kwargs.items():
        print(f"{key}: {value}")

profile(name="Rohit", age=25, city="Solapur")
profile(name="Aniket", skill="Python", hobby="Reading Books")
profile(name="Mohit")

Profile Information:
name: Rohit
age: 25
city: Solapur
Profile Information:
name: Aniket
skill: Python
hobby: Reading Books
Profile Information:
name: Mohit

In [1]:
#Practice: Create a function that calculates total price of items with tax (use *args for items, **kwargs for tax/discount).

In [10]:
def price(*args):
    for item in args:
        totalprice=item+(item*0.10)
    print(totalprice)
price(100)

110.0

In [11]:
#variable scope
x = 10  # global

def my_func():
    x = 5  # local
    print("Inside function:", x)

my_func()
print("Outside function:", x)

Inside function: 5
Outside function: 10

In [12]:
counter = 0  # global variable
def counter_func():
    global counter
    counter += 1
    print("Counter value:", counter)
# Test
counter_func()
counter_func()
counter_func()

Counter value: 1
Counter value: 2
Counter value: 3

In [17]:
#Function Annotations & Docstrings
def add(x: int, y: int) -> int: #it denotes that values should be integers
    return x + y
add(10,23)

33

In [19]:
def fun(x: str) -> str: #it denotes that values should be integers
    return f'Hello {x}'
fun('Rohit')

'Hello Rohit'

In [20]:
#lamda functions

In [23]:
add = lambda x, y: x + y
print(add(5, 3))   
multiply = lambda a, b: a * b
print(multiply(3, 5))

8
15

In [25]:
#built in lamda functions

In [26]:
#1] map function
nums = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, nums))
print(squares)

[1, 4, 9, 16]

In [28]:
#2] filter function
nums = [10, 15, 20, 25, 30]
evens = list(filter(lambda x: x % 2 == 0, nums))
print(evens)

[10, 20, 30]

In [29]:
#3] reduce function
from functools import reduce
nums = [1, 2, 3, 4]
addition = reduce(lambda x, y: x + y, nums)
print(addition)

10

In [33]:
#4] sorted function
students = [("Rohit", 21), ("Amit", 19), ("Sneha", 22)]
sorted_by_age = sorted(students, key=lambda x: x[1])
print(sorted_by_age)

[('Amit', 19), ('Rohit', 21), ('Sneha', 22)]

In [35]:
# recursion
def factorial_recursive(n):
    if n == 0 or n == 1:   # base case
        return 1
    return n * factorial_recursive(n - 1)   # recursive case
print(factorial_recursive(5))

120

In [36]:
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n-1) + fibonacci(n-2)

print([fibonacci(i) for i in range(6)])

[0, 1, 1, 2, 3, 5]